extends base

block content
    .main
        form#form-forgot.form.form-center
            h1.u-margin-bottom-medium Password reset link will be sent to your email.
            .form-box
                label(for="email") Email
                input#email.inputtext(type="email" name="email" required="")
            input.btn.btn--cta(type="submit" value="Send")
