extends base

block content
    .main
        form#form-login.form.form-center
            .form-box
                label(for="email") Email
                input#email.inputtext(type="email" name="email" required="")
            .form-box
                label(for="password") Password
                input#password.inputtext(type="password" name="password" minlength="8" required="")
            input.btn.btn--cta(type="submit" value="Login")
        .auth.u-margin-top-small
            a.btn.btn-login(href="/forgot") Forgot password?
            a.btn.btn-login(href="/signup") Signup

        .oauth.u-margin-top-medium
            a(href="/api/auth/google")
                .oauth-btn
                    .oauth-icon-wrapper
                        svg.oauth-icon-svg
                            use(xlink:href=" /siteImages/sprite.svg#icon-google")
                    p.oauth-btn-text
                        b Sign in with Google
            a(href="/api/auth/github")
                .oauth-btn
                    .oauth-icon-wrapper
                        svg.oauth-icon-svg
                            use(xlink:href=" /siteImages/sprite.svg#icon-github1")
                    p.oauth-btn-text
                        b Sign in with Github

