extends base

block content
    .main
        form#form-reset.form.form-center(data-token=`${token}`)
            h1.u-margin-bottom-medium Reset your password
            .form-box
                label(for="password") New Password
                input#password.inputtext(type="password" name="password" required="" minlength="8")
            .form-box
                label(for="passwordConfirm") Password Confirm
                input#passwordConfirm.inputtext(type="password" name="passwordConfirm" minlength="8" required="")
            input.btn.btn--cta(type="submit" value="Reset")
