extends base

block content
    include _dashboard-panel
    .main-dashboard.box
        form#form-updateSettings.form.form-dashboard
            .form-box.form-box--horizontal
                span.setting__title Profile visible to others
                label.switch.setting__toggle
                    if user.visibleProfile
                        input#checkbox-profile-visible.checkbox(type="checkbox" autocomplete="off" checked)
                    else
                        input#checkbox-profile-visible.checkbox(type="checkbox" autocomplete="off")

                    span.slider
            .form-box.form-box--horizontal
                span.setting__title Use Two-Step authenticating
                    span.setting__title__secondary After login, email will be used to authenticate
                label.switch.setting__toggle
                    if user.twoStepAuth
                        input#checkbox-twostep-auth.checkbox(type="checkbox" autocomplete="off" checked)
                    else
                        input#checkbox-twostep-auth.checkbox(type="checkbox" autocomplete="off")
                    span.slider
            input.btn.btn--cta.btn--cta--small(type="submit" value="Update")
        
        fieldset.danger-zone.u-margin-top-medium
            legend Danger Zone
            form#form-deleteaccount.form.form-dashboard
                h2.u-margin-bottom-small Delete my account
                .form-box
                    label(for="password") Password
                    input#password.inputtext(type="password" name="password" required="" minlength="8")
                input.btn.btn--cta.btn--cta--small(type="submit" value="Delete")

