extends base

block content
    .main
        form#form-url-pass.form.form-center(data-shorted=`${url.target}`)
            h1.u-margin-bottom-medium There is a password associated with this URL. Please enter password to continue.
            .form-box
                label(for="password") Password
                input#password.inputtext(type="password" name="password" required="")
            
            input.btn.btn--cta(type="submit" value="Submit")